<nav class="navbar">
  <div class="nav-brand">
    <a href="home.html">SmartPharma</a>
  </div>

  <button class="menu-toggle" id="menu-toggle">&#9776;</button>

  <div class="nav-links" id="nav-links">
    <a href="Home.html">Home</a>
    <a href="Blog.html">Health Care</a>
    <a href="medication.html">shop</a>

    <a href="../Structure_markup/login.html" class="btn">Sign In</a>

    <div class="signup-dropdown">
      <button class="btn signup-btn">Sign Up</button>
      <div class="dropdown-menu">
        <a href="../Structure_markup/userregistration.html">Sign up as User</a>
        <a href="../Structure_markup/pharmacyregistration.html">Sign up as Pharmacy Owner</a>
      </div>
</div>
<div class="cart-icon">
  <i class="fas fa-shopping-cart"></i>
  <span class="cart-count">0</span>
    </div>
  </div>
</nav>
