<!-- components/navbar.html -->
<nav class="navbar" aria-label="Main Navigation">
  <div class="nav-brand">
    <a href="index.html">SmartPharma</a>
  </div>

  <!-- Navigation links -->
  <ul class="nav-menu">
    <li><a href="home.html">Home</a></li>
    <li><a href="medications.html">Medications</a></li>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="pharmacyregistration.html">Pharmacy Registration</a></li>
    <li><a href="login.html">Login</a></li>
    <li><a href="registration.html">Sign Up</a></li>
  </ul>
</nav>
